<div class="w-full px-8">
    <!-- HEADING -->
    <div class="flex justify-between mt-8">
        <h1 class="font-bold text-3xl">STOCKS</h1>
        <app-button txtContent="add" bgColor="green"></app-button>
    </div>
    <hr class="border-b-1 border-neutral-900 mt-4">

    <!-- FORM -->
    <div class="bg-[#fff] max-w-xl h-auto mx-auto px-8 py-10 rounded-lg shadow-xl text-neutral-900 mt-4">
        <form class="flex flex-col" (ngSubmit)="onAddStock()">
            <label class="" for="code">Code</label>
            <input class="border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="text" name="code" id="code"
                [(ngModel)]="code">

            <label class="mt-4" for="name">Name</label>
            <input class="border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="text" name="name" id="name"
                [(ngModel)]="name">

            <label class="mt-4" for="description">Description</label>
            <input class="border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="text" name="description"
                id="description" [(ngModel)]="description">

            <label class="mt-4" for="quantity">Quantity</label>
            <input class="border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="number" name="quantity"
                id="quantity" [(ngModel)]="quantity">

            <!-- <label class="mt-4" for="unit">Unit</label>
            <input class="border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="text" name="unit" id="unit"
                [(ngModel)]="unit"> -->

            <label class="mt-4" for="unit">Unit</label>
            <select class="border border-neutral-900 px-2 py-1 rounded-sm mt-1" name="unit" id="unit"
                [(ngModel)]="unit">
                <option value="bottle">bottle</option>
                <option value="piece">piece</option>
                <option value="liter">liter</option>
                <option value="kilo">kilo</option>
                <option value="pack">pack</option>
                <option value="">others...</option>
            </select>
            <!-- Input field for custom unit when "other" is selected -->
            <input *ngIf="unit === ''" class="border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="text"
                name="customUnit" id="customUnit" [(ngModel)]="customUnit" placeholder="Please specify.">


            <div class="flex items-center mt-4">
                <label class="" for="status">Status:</label>
                <div class="flex items-center ml-10">
                    <input class="border border-neutral-900 px-2 py-1 rounded-sm w-4 h-4" type="checkbox" name="status"
                        id="active" [(ngModel)]="status" checked>
                    <label class="ml-1" for="active">Active</label>

                </div>
            </div>

            <button class="mt-10 bg-neutral-800 text-neutral-300 font-bold p-2 rounded hover:bg-[rgb(48,48,48)]"
                type="submit">
                Add Stock
            </button>
        </form>
    </div>

    <!-- TABLE -->
    <div class="w-full text-center shadow-xl rounded-xl mt-8">
        <table class="w-full table-fixed rounded-xl">
            <thead class="text-neutral-300 bg-neutral-900">
                <th>Code</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Date Added</th>
                <th>Date Updated</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let stock of stocks">
                    <td class="p-2">{{stock.code}}</td>
                    <td class="p-2">{{stock.name}}</td>
                    <td class="p-2">{{stock.description}}</td>
                    <td class="p-2">{{stock.quantity}}</td>
                    <td class="p-2">{{stock.unit}}</td>
                    <td class="p-2">{{stock.date_added | date: 'dd/MM/yyyy'}}</td>
                    <td class="p-2">{{stock.date_updated | date: 'dd/MM/yyyy'}}</td>
                    <td class="p-2">{{stock.status? "active": "inactive"}}</td>
                    <td class="p-2"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>