table {
    border-radius: 10px;
}

table tbody tr {
    background-color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #ebebeb;
}

table th {
    padding: 10px;
}

.active {
    border-left: 5px solid green;
    margin: 0;
    padding: 0;
}

@media (min-width: 1080px) {
    td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}