<div class="w-full px-4">
    <div class="text-neutral-900 bg-neutral-300 w-full h-auto mt-2">
        <div class="bg-neutral-300 w-[400px] h-auto mx-auto px-8 py-10 rounded-lg shadow-xl">
            <h2 class="text-center text-2xl font-bold">Add New Stocks</h2>
            <form class="flex flex-col">
                <label class="mt-6" for="username">Code</label>
                <input class="text-neutral-300 px-2 py-1 rounded-sm mt-1" type="text">
    
                <label class="mt-6" for="password">Name</label>
                <input class="text-neutral-300 px-2 py-1 rounded-sm mt-1" type="password">
    
                <button class="mt-10 bg-neutral-900 text-neutral-300 font-bold p-2 rounded hover:bg-neutral-950" type="submit">Login</button>
            </form>
        </div>
    </div>

    <div class="flex justify-between mt-8">
        <h1 class="font-bold text-3xl">STOCKS</h1>
        <app-button text="add" color="green"></app-button>
    </div>

    <div class="w-full text-center shadow-xl rounded-xl mt-8">
        <table class="w-full table-fixed rounded-xl">
            <thead class="text-neutral-300 bg-neutral-900">
                <th>Code</th>
                <th>Name</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Unit</th>
                <th>Date Added</th>
                <th>Date Updated</th>
                <th>Status</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let stock of stocks">
                    <td class="p-2">{{stock.code}}</td>
                    <td class="p-2">{{stock.name}}</td>
                    <td class="p-2">{{stock.description}}</td>
                    <td class="p-2">{{stock.quantity}}</td>
                    <td class="p-2">{{stock.unit}}</td>
                    <td class="p-2">{{stock.date_added | date: 'dd/MM/yyyy'}}</td>
                    <td class="p-2">{{stock.date_updated | date: 'dd/MM/yyyy'}}</td>
                    <td class="p-2">{{stock.status? "active": "inactive"}}</td>
                    <td class="p-2"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>