<div class="relative w-full px-4 md:px-8">
    <!-- HEADING -->
    <div class="flex justify-between mt-8">
        <h1 class="font-bold text-2xl lg:text-3xl">SUPPLIERS</h1>
        <!-- ADD BUTTON -->
        <app-button txtContent="{{showForm? 'Cancel': 'Add'}}" bgColor="{{showForm? 'red': 'green'}}"
            (btnClick)="toggleForm()"></app-button>
    </div>
    <hr class="border-b-1 border-neutral-900 mt-4">

    <!-- FORM -->
    <div *ngIf="showForm"
        class="bg-[#fff] max-w-xl h-auto mx-auto px-8 py-10 rounded-lg shadow-xl text-neutral-900 mt-4">
        <h2 class="font-bold text-center text-2xl"> {{ proceedEdit? 'Edit supplier' : 'Add new supplier' }}</h2>
        <form class="flex flex-col mt-2" (ngSubmit)="onSubmit()">

            <label class="mt-4" for="supplier.name">Supplier:</label>
            <input class="uppercase border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="text"
                name="supplier.name" id="name" [(ngModel)]="supplier.name">

            <label class="mt-4" for="supplier.address">Address:</label>
            <input class="uppercase border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="text"
                name="supplier.address" id="supplier.address" [(ngModel)]="supplier.address">

            <label class="mt-4" for="supplier.phone">Phone:</label>
            <input appSelectAllText class="border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="text"
                name="supplier.phone" id="supplier.phone" [(ngModel)]="supplier.phone">

            <label class="mt-4" for="supplier.email">Email:</label>
            <input class="lowercase border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="email"
                name="supplier.email" id="supplier.email" [(ngModel)]="supplier.email">

            <div class="flex items-center mt-4">
                <label class="" for="supplier.status">Status:</label>
                <div class="flex items-center ml-10">
                    <input class="border border-neutral-900 px-2 py-1 rounded-sm w-[14px] h-[14px]" type="checkbox"
                        name="supplier.status" id="supplier.status" [(ngModel)]="supplier.status" checked>
                    <label class="ml-1" for="supplier.status">Active</label>
                </div>
            </div>

            <!-- Submit Button -->
            <button class="mt-10 bg-neutral-800 text-neutral-300 font-bold p-2 rounded hover:bg-[rgb(48,48,48)]"
                type="submit">
                {{ proceedEdit? 'Update': 'Save' }}
            </button>
        </form>
    </div>

    <!-- TABLE -->
    <div class="w-full text-center shadow-xl rounded-xl mt-6 lg:mt-8" [ngClass]="showForm ? 'hidden' : 'block'">
        <table class="w-full table-fixed rounded-xl">
            <thead class="text-neutral-300 bg-neutral-900">
                <th>Code</th>
                <th>Supplier</th>
                <th>Address</th>
                <th>Phone</th>
                <th>Email</th>
                <th class="hidden md:table-cell">Status</th>
                <th class="w-[15%] md:auto">Action</th>
            </thead>
            <tbody>
                <tr [ngClass]="supplier.status ? 'active' : 'inactive'" *ngFor="let supplier of suppliers">
                    <td class="p-2">{{supplier.code}}</td>
                    <td class="p-2">{{supplier.name}}</td>
                    <td class="p-2">{{supplier.address}}</td>
                    <td class="p-2 break-words">{{supplier.phone }}</td>
                    <td class="p-2 break-words">{{supplier.email }}</td>
                    <td class="p-2 hidden md:table-cell">
                        <span class="text-white text-xs px-2 py-1 rounded-md"
                            [ngClass]="supplier.status? 'bg-[#008000]' : 'bg-[#ffa500]'">
                            {{supplier.status? 'active' : 'inactive'}}
                        </span>
                    </td>
                    <td class="p-2">
                        <div class="flex justify-center items-center space-x-2 md:space-x-4">
                            <!-- Edit supplier -->
                            <fa-icon class="hover:scale-110" [ngStyle]="{color: 'green'}" [icon]="faPen"
                                (click)="updateSupplier(supplier)">
                            </fa-icon>
                            <!-- Delete supplier -->
                            <fa-icon class="hover:scale-110" [ngStyle]="{color: 'red'}" [icon]="faTrashCan"
                                (click)="deleteSupplier(supplier)">
                            </fa-icon>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- When no items to show. -->
        <div class="w-full h-[5vh]" *ngIf="!suppliers.length && !isFetching">
            <p class="text-center my-4">No suppliers.</p>
        </div>
        <!-- While fetching data. -->
        <div *ngIf="!suppliers.length && isFetching" class="h-[10vh]">
            <app-loader></app-loader>
        </div>
    </div>

    <!-- Confirm to Delete Supplier Modal -->
    <div *ngIf="showActionModal" class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed">
        <div class="relative flex flex-col items-center bg-white rounded-lg h-fit p-4 mt-32 w-1/2 lg:w-1/4 md:w-1/3">
            <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark"
                [ngStyle]="{color: 'rgb(64 64 64 )'}" (click)="toggleActionModal()">
            </fa-icon>
            <p class="mb-8 mt-6 text-center">Are you sure you want to delete this supplier?<br>This action cannot be
                undone.</p>
            <app-button (btnClick)="onConfirmDelete()" bgColor="red" txtColor="text-white"
                txtContent="Delete"></app-button>
        </div>
    </div>

    <app-modal *ngIf="showModal" inputField="true" placeHolder="Enter admin password." (toggleModal)="toggleModal()"
                (inputValueChange)="onInputValueChange($event)"
                (btnClick)="onConfirmDelete()">
    </app-modal>
</div>