<app-header class="my-text-base" *ngIf="hasRoute('/login')"></app-header>
<div class="flex h-full w-full my-text-base">
    <app-navbar *ngIf="hasRoute('/login')" class="hidden xl:flex"></app-navbar>
    <div class="flex-1 h-auto w-full min-h-screen relative">
        <router-outlet></router-outlet>
        <p *ngIf="hasRoute('/login')" class="bg-[#fff] w-full text-neutral-700 p-4 mt-12 text-sm absolute bottom-0">
            <span class="font-bold">&copy;2023 RylCodes-IMS</span>. All rights reserved.
        </p>
    </div>
</div>
<app-footer class="my-text-base" *ngIf="hasRoute('/login')"></app-footer>