<div class="flex h-full w-full my-text-base">
    <app-navbar *ngIf="hasRoute('/login')" class="hidden xl:flex"></app-navbar>
    <div class="flex-1 w-full min-h-screen flex flex-col justify-between relative">
        <app-header *ngIf="hasRoute('/login')"></app-header>
        <div class="relative flex flex-col justify-between flex-1">
            <router-outlet class="absolute top-0"></router-outlet>
            <div *ngIf="hasRoute('/login')" class="flex justify-between bg-white w-full text-neutral-700 p-4 mt-12 text-xs">
                <p><span class="font-bold">&copy;2023 {{title}}</span>. All rights reserved.</p>
                <p><span class="font-bold">Version</span> 1.0.0</p>
            </div>
        </div>
    </div>
</div>
<app-footer class="z-20" *ngIf="hasRoute('/login')"></app-footer>