<div class="relative w-full px-8">
    <!-- HEADING: POS PAGE -->
    <div class="flex justify-between mt-8">
        <h1 class="font-bold text-3xl">SALES HISTORY</h1>
    </div>
    <hr class="border-b-1 border-neutral-900 mt-4">

    <div class="relative w-full">
        <!-- INVOICE -->
        <div *ngIf="showInvoice" class="top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed overflow-y-auto">
            <div class="bg-white rounded-lg w-2/5 h-fit mt-10 mx-auto">
                <div class="flex flex-col justify-center p-8">
                    <h3
                        class="self-center text-center w-1/3 rounded-2xl text-white bg-orange-600 font-bold py-1 text-xl">
                        INVOICE</h3>
                    <div class="flex justify-between mt-8">
                        <div class="w-1/2">
                            <h4 class="font-bold text-2xl text-orange-600">ALADIN'S FOOD HUB</h4>
                            <p>Valleygolf, Brgy. San Juan, Cainta, Rizal</p>
                        </div>
                        <div class="w-2/5">
                            <h4 class="font-bold text-lg text-orange-600">BILL TO</h4>
                            <p>Transaction Code: {{bill.billno}}</p>
                            <p>Name: {{bill.customer_name}}</p>
                            <p>Bank Detail: 123123</p>
                        </div>
                    </div>
                    <table class="mt-8">
                        <thead class="bg-orange-600 text-white p-2">
                            <th>DESCRIPTIONS</th>
                            <th>PRICE</th>
                            <th>QUANTITY</th>
                            <th>TOTAL</th>
                        </thead>
                        <tbody>
                            <tr class="text-center bg-inherit border-b border-neutral-900" *ngFor="let item of items">
                                <td class="p-1">{{getProductDetails(item.product_id).productName}}</td>
                                <td class="p-1">{{item.price | number: '1.2-2'}}</td>
                                <td class="p-1">{{item.quantity}}</td>
                                <td class="p-1">&#8369;{{item.sub_total | number: '1.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="flex justify-between mt-6">
                        <div class="w-1/2">
                            <div class="w-2/3">
                                <p class="flex justify-between">
                                    <span>Invoice:</span>
                                    <span>{{bill.billno}}</span>
                                </p>
                                <p class="flex justify-between">
                                    <span>Date:</span>
                                    <span>{{bill.time | date: 'MM-dd-yyyy hh:mm a'}}</span>
                                </p>
                            </div>
                            <p class="text-base font-bold mt-6 text-orange-600">THANK YOU FOR YOUR BUSINESS</p>
                        </div>
                        <div class="w-2/5">
                            <p class="flex justify-between px-1">
                                <span>SUBTOTAL:</span>
                                <span class="font-bold">&#8369;{{bill.grand_total | number: '1.2-2'}}</span>
                            </p>
                            <p class="flex justify-between px-1">
                                <span>SERVICE FEE:</span>
                                <span class="font-bold">0.00</span>
                            </p>
                            <p class="flex justify-between px-1">
                                <span>TAX RATE:</span>
                                <span class="font-bold">0.00</span>
                            </p>
                            <p class="bg-orange-600 text-white font-bold flex justify-between mt-4 px-2 py-1">
                                <span>TOTAL:</span>
                                <span>&#8369;{{bill.grand_total | number: '1.2-2'}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="flex justify-between mt-8">
                        <div>09123456789</div>
                        <div>Valleygolf, Cainta, Rizal</div>
                        <div>cityconbuilders.gmail.com</div>
                    </div>
                </div>
                <div class="flex justify-end space-x-1 p-2 border-t border-neutral-300">
                    <app-button bgColor="blue" txtContent="Print"></app-button>
                    <app-button (btnClick)="toggleInvoice(bill)" bgColor="red" txtContent="Close"></app-button>
                </div>
            </div>
        </div>
        <!-- TRANSACTION TABLE -->
        <div class="w-full text-center shadow-xl rounded-xl mt-4">
            <table class="w-full table-fixed rounded-xl">
                <thead class="text-neutral-300 bg-neutral-900">
                    <th>Date Time</th>
                    <th>Transaction Code</th>
                    <th>Customer Name</th>
                    <th>Remarks</th>
                    <th class="w-1/12">Items</th>
                    <th>Total</th>
                    <th class="w-1/12">Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let bill of bills">
                        <td class="p-2">{{bill.time | date: "dd MMM 'at' hh:mm a"}}</td>
                        <td class="p-2">{{bill.billno}}</td>
                        <td class="p-2">{{bill.customer_name}}</td>
                        <td class="p-2">{{bill.remarks}}</td>
                        <td class="p-2">{{getItemLength(bill)}}</td>
                        <td class="p-2">&#8369;{{bill.grand_total | number: '1.2-2'}}</td>
                        <td class="flex justify-center p-2 space-x-4">
                            <fa-icon class="hover:scale-110" [icon]="faRectangleList" (click)="toggleInvoice(bill)">
                            </fa-icon>
                            <!-- Delete SaleBill -->
                            <fa-icon class="hover:scale-110" [ngStyle]="{color: 'red'}" [icon]="faTrashCan"
                                (click)="deleteSaleBill(bill)">
                            </fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>