<div class="relative w-full px-4 md:px-8">
    <!-- HEADING: POS PAGE -->
    <div class="flex justify-between mt-8">
        <h1 class="font-bold text-2xl md:text-3xl">PURCHASES</h1>
        <!-- ADD BUTTON -->
        <app-button *ngIf="!showPurchaseBill" txtContent="{{showFormContainer? 'Cancel': 'Add'}}"
            bgColor="{{showFormContainer? 'red': 'green'}}" (btnClick)="toggleFormContainer()"></app-button>
    </div>
    <hr class="border-b-1 border-neutral-900 mt-4">

    <!-- PURCHASE FORM: Edit -->
    <div *ngIf="showBillForm" class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed">
        <div class="relative flex flex-col items-center bg-white rounded-lg h-fit p-4 mt-32 w-1/2 lg:w-1/4 md:w-1/3">
            <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark"
                [ngStyle]="{color: 'rgb(64 64 64 )'}" (click)="toggleBillForm()">
            </fa-icon>
            <h2 class="font-bold text-center text-2xl">
                {{ proceedEditBill? "Edit purchase details" : "Add new purchase" }}
            </h2>
            <form class="flex flex-col mt-2 w-full" (ngSubmit)="onSubmitBill()">
                <label class="mt-4" for="bill.billno">OR No.:</label>
                <input class="uppercase border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="text"
                    name="bill.billno" id="bill.billno" [(ngModel)]="bill.billno">

                <label class="mt-2" for="name">Supplier:</label>
                <select class="border border-neutral-900 px-1 py-0.5 rounded-sm mt-1 w-full" name="bill.supplier_id"
                    id="bill.supplier_id" [(ngModel)]="bill.supplier_id" (change)="onSupplierSelectionChange($event)">
                    <option *ngFor="let supplier of suppliers" selected value="{{supplier.id}}">
                        {{supplier.name}}</option>
                    <option class="text-neutral-500" value="addNewSupplier">add new supplier ...</option>
                </select>

                <p class="mt-2">Total:</p>
                <h3 class="uppercase text-center border border-neutral-900 bg-blue-50 px-2 py-1 rounded-sm mt-1">
                    &#8369;{{bill.grand_total | number: '1.2-2'}}
                </h3>

                <!-- Submit Button -->
                <button class="mt-10 bg-neutral-800 text-neutral-300 font-bold p-2 rounded hover:bg-[rgb(48,48,48)]"
                    type="submit">
                    Update
                </button>
            </form>
        </div>
    </div>

    <!-- HEADING: ITEM LIST -->
    <div *ngIf="showFormContainer && !showPurchaseBill" class="flex justify-between mt-4">
        <h1 class="font-bold text-xl lg:text-2xl">Add items:</h1>
    </div>
    <!-- ITEM FORM -->
    <form *ngIf="showFormContainer"
        class="flex items-end text-start justify-between w-full bg-[#fff] h-fit mt-2 px-4 py-2 rounded-lg shadow-xl text-neutral-900 md:w-3/4"
        (ngSubmit)="onSubmitItem()">
        <div class="flex flex-col w-1/4">
            <label for="name">Item:</label>
            <select class="border border-neutral-900 px-1 py-0.5 rounded-sm mt-1 w-full" name="name" id="name"
                [(ngModel)]="item.stock_id" (change)="onStockSelectionChange($event)">
                <option *ngFor="let stock of stocks" selected value="{{stock.id}}">
                    {{stock.stock_name}}</option>
                <option class="text-neutral-500" value="addNewItem">add new item ...</option>
            </select>
        </div>

        <div class="flex flex-col w-1/4">
            <label for="item_price">Price:</label>
            <input appSelectAllText
                class="text-center uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1 w-full" type="number"
                name="item_price" id="item_price" [(ngModel)]="item.item_price">
        </div>

        <div class="flex flex-col w-1/4">
            <label for="quantity_purchased">Quantity:</label>
            <div class="flex items-center space-x-1">
                <fa-icon [icon]="faMinus" (click)="decreaseQtyInput()"></fa-icon>
                <input appSelectAllText
                    class="text-center uppercase border border-neutral-900 px-1 py-0.5    rounded-sm mt-1 w-full"
                    type="number" name="quantity_purchased" id="quantity_purchased"
                    [(ngModel)]="item.quantity_purchased">
                <fa-icon [icon]="faPlus" (click)="increaseQtyInput()"></fa-icon>
            </div>
        </div>

        <!-- BUTTON: Add or Edit Item -->
        <button class="flex px-1.5 py-1 h-fit items-center space-x-1 rounded-md bg-neutral-800" type="submit">
            <fa-icon class="scale-75" [icon]="faPlus" [ngStyle]="{color: 'rgb(212 212 212)'}">
            </fa-icon>
            <p class="text-neutral-300 text-xs">{{ proceedEditItem? 'Update': 'Add' }}</p>
        </button>
    </form>

    <!-- FORM CONTAINER: Add items and add new purchase -->
    <div *ngIf="showFormContainer" class="flex flex-col justify-center space-x-0 w-full md:flex-row md:space-x-2">
        <!-- ITEM TABLE -->
        <div class="table-container w-full text-center shadow-xl mt-4 md:w-3/4">
            <table class="w-full table-fixed">
                <thead class="text-neutral-300 bg-neutral-900">
                    <th>Date Time</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sub Total</th>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td class="p-2">
                            <div class="flex items-center justify-center space-x-2 md:space-x-4">
                                <button class="px-1.5 py-1 rounded-md bg-[#ff0000]"
                                    (click)="deleteItem(item)">
                                    <fa-icon class="scale-75" [icon]="faTrashCan"
                                        [ngStyle]="{color: 'rgb(212 212 212)'}">
                                    </fa-icon>
                                </button>
                                <p>{{item.purchase_date | date: "MMM dd, hh:mm a"}}</p>
                            </div>
                        </td>
                        <td class="p-2">{{getStockDetails(item.stock_id).stockName}}</td>
                        <td class="p-2">&#8369;{{item.item_price | number: '1.2-2'}}</td>
                        <td class="p-2">{{item.quantity_purchased}}</td>
                        <td class="p-2">&#8369;{{item.sub_total | number: '1.2-2'}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="w-full h-[5vh]" *ngIf="!items.length">
                <p class="text-center my-4">No items to show.</p>
            </div>
        </div>

        <!-- BILL DIV -->
        <div *ngIf="showPurchaseBill"
            class="bg-[#fff] self-start w-full h-auto mx-auto p-4 rounded-lg shadow-xl text-neutral-900 mt-4 md:flex-1">
            <form class="flex flex-col">
                <h3 for="bill.customer_name">OR No.:</h3>
                <p class="uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1 text-center">
                    {{bill.billno}}
                </p>

                <h3 class="mt-2" for="bill.customer_name">Supplier:</h3>
                <p class="uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1 text-center">
                    {{getSupplierDetails(bill.supplier_id).supplierName}}
                </p>

                <h3 class="mt-2" for="remarks">Total Bill:</h3>
                <p class="uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1 text-center">
                    &#8369;{{bill.grand_total | number: '1.2-2'}}
                </p>

                <!-- Back Button -->
                <button *ngIf="showPurchaseBill"
                    class="bg-neutral-800 mt-6 text-neutral-300 font-bold px-4 py-2 rounded hover:bg-[rgb(48,48,48)]"
                    type="button" (click)="viewOrder(bill)">
                    Back
                </button>
            </form>
        </div>

        <!-- PURCHASE FORM: Add -->
        <div *ngIf="!showPurchaseBill"
            class="bg-white self-start w-full h-auto mx-auto p-4 rounded-lg shadow-xl text-neutral-900 mt-4 md:flex-1">
            <h2 class="font-bold text-center text-base lg:text-xl md:lg">
                {{ proceedEditBill? "Update bill details" : "Add new purchase" }}
            </h2>
            <form class="flex flex-col" (ngSubmit)="onSubmitBill()">
                <label class="mt-2" for="bill.billno">OR No.:</label>
                <input class="uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1" type="text"
                    name="bill.billno" id="bill.billno" [(ngModel)]="bill.billno">

                <label class="mt-2" for="name">Supplier:</label>
                <select class="border border-neutral-900 px-1 py-0.5 rounded-sm mt-1 w-full" name="bill.supplier_id"
                    id="bill.supplier_id" [(ngModel)]="bill.supplier_id" (change)="onSupplierSelectionChange($event)">
                    <option *ngFor="let supplier of suppliers" selected value="{{supplier.id}}">
                        {{supplier.name}}</option>
                    <option class="text-neutral-500" value="addNewSupplier">add new supplier ...</option>
                </select>

                <h3 class="mt-2">Total:</h3>
                <p class="uppercase border border-neutral-900 bg-blue-50 px-1 py-0.5 rounded-sm mt-1 text-center">
                    &#8369;{{bill.grand_total | number: '1.2-2'}}
                </p>

                <!-- Submit Button -->
                <button class="mt-6 bg-[#008000] text-white font-bold p-2 rounded hover:bg-[#009000]" type="button"
                    (click)="toggleSaveBillModal()">
                    Save</button>
            </form>
        </div>

    </div>

    <!-- BILL TABLE -->
    <div *ngIf="showBillTable" class="w-full text-center shadow-xl rounded-xl mt-6 lg:mt-8">
        <table class="w-full table-fixed rounded-xl">
            <thead class="text-neutral-300 bg-neutral-900">
                <th class="w-1/4 md:w-auto">OR No.</th>
                <th>Name</th>
                <th>Items</th>
                <th>Total</th>
                <th class="hidden md:table-cell">Remarks</th>
                <th class="hidden md:table-cell">Date Time</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr *ngFor="let bill of bills">
                    <td class="p-2 text-clip overflow-hidden">
                        <div class="flex items-center space-x-2 md:space-x-4">
                            <!-- View Order List -->
                            <button class="px-1.5 py-0.5 rounded-md bg-neutral-800 ml-2" (click)="viewOrder(bill)">
                                <fa-icon [icon]="faRectangleList" [ngStyle]="{color: 'rgb(212 212 212)'}">
                                </fa-icon>
                            </button>
                            <span>{{bill.billno}}</span>
                        </div>
                    </td>
                    <td class="p-2">{{getSupplierDetails(bill.supplier_id).supplierName}}</td>
                    <td class="p-2">{{getItemLength(bill)}}</td>
                    <td class="p-2">&#8369;{{bill.grand_total | number: '1.2-2'}}</td>
                    <td class="p-2 hidden md:table-cell">{{bill.remarks}}</td>
                    <td class="p-2 hidden md:table-cell">{{bill.time | date: "MMM dd 'at' hh:mm a"}}</td>
                    <td class="p-2">
                        <div class="flex justify-center items-start-center space-x-3 md:space-x-4">
                            <!-- Edit bill -->
                            <fa-icon class="hover:scale-110" [ngStyle]="{color: 'green'}" [icon]="faPen"
                                (click)="updateBill(bill)">
                            </fa-icon>
                            <!-- Delete bill -->
                            <fa-icon class="hover:scale-110" [ngStyle]="{color: 'red'}" [icon]="faTrashCan"
                                (click)="deleteBill(bill)">
                            </fa-icon>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- PRODUCT MODAL: Confirm to Delete Product -->
    <div *ngIf="showItemActionModal" class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed">
        <div class="relative flex flex-col items-center bg-white rounded-lg h-fit p-4 mt-32 w-1/2 lg:w-1/4 md:w-1/3">
            <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark"
                [ngStyle]="{color: 'rgb(64 64 64 )'}" (click)="toggleItemActionModal()">
            </fa-icon>
            <p class="mb-8 mt-6 text-center">Do you want to delete this item?<br>This action cannot be
                undone.</p>
            <app-button (btnClick)="onConfirmDeleteItem()" bgColor="red" txtColor="bg-white"
                txtContent="Delete"></app-button>
        </div>
    </div>

    <!-- PURCHASE MODAL: Confirm to Save Purchase -->
    <div *ngIf="showSaveBillModal" class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed">
        <div class="relative flex flex-col items-center bg-white rounded-lg h-fit p-4 mt-32 w-1/2 lg:w-1/4 md:w-1/3">
            <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark"
                [ngStyle]="{color: 'rgb(64 64 64 )'}" (click)="toggleSaveBillModal()">
            </fa-icon>
            <p class="mb-8 mt-3 text-center">
                Make sure the details of all items added to this purchase are correct. Stock quantities will be adjusted
                upon saving.
            </p>
            <p class="mb-8 text-center">
                Do you want to proceed with saving this purchase?
            </p>
            <app-button (btnClick)="onSubmitBill()" bgColor="green" txtColor="bg-white"
                txtContent="Confirm"></app-button>
        </div>
    </div>

    <!-- PURCHASE MODAL: Confirm to Delete Purchase -->
    <div *ngIf="showBillActionModal" class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed">
        <div class="relative flex flex-col items-center bg-white rounded-lg h-fit p-4 mt-32 w-1/2 lg:w-1/4 md:w-1/3">
            <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark"
                [ngStyle]="{color: 'rgb(64 64 64 )'}" (click)="toggleBillActionModal()">
            </fa-icon>
            <p class="mb-8 mt-6 text-center">Are you sure you want to delete this purchase?<br>This action cannot be
                undone.</p>
            <app-button (btnClick)="onConfirmDeleteBill()" bgColor="red" txtColor="bg-white"
                txtContent="Delete"></app-button>
        </div>
    </div>

    <!-- CSS Loader -->
    <div *ngIf="isLoading" class="top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.3)] fixed">
        <app-loader></app-loader>
    </div>
</div>