<div class="relative bg-neutral-300 w-full h-screen text-neutral-300 pt-32">
    <div class="bg-neutral-900 w-[400px] h-auto mx-auto px-8 py-10 rounded-lg">
        <h2 class="text-center">
            Log in to<br>
            <span class="text-2xl font-bold lg:text-3xl">
                RylCodes IMS
            </span>
        </h2>
        <form class="flex flex-col mt-2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <label class="mt-4 lg:mt-6" for="username">Username</label>
            <input class="text-neutral-900 px-2 py-1 rounded-sm mt-1" type="text" formControlName="username">

            <label class="mt-4 lg:mt-6" for="password">Password</label>
            <input class="text-neutral-900 px-2 py-1 rounded-sm mt-1" type="password" formControlName="password">

            <button class="mt-8 lg:mt-12 bg-white text-neutral-900 font-bold py-2 rounded hover:bg-neutral-100"
                type="submit">Log in</button>
        </form>
    </div>
    <div *ngIf="isLoading" class="w-full h-full top-0 left-0 absolute bg-[rgba(0,0,0,0.3)]">
        <app-loader></app-loader>
    </div>
</div>