/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.text-xxs {
    font-size: 10px;
    line-height: 12px;
}

table {
    border-radius: 10px;
}

table tbody tr {
    background-color: #fff;
}

table tbody tr:nth-child(even) {
    background-color: #ebebeb;
}

table th {
    padding: 10px;
}

@media (max-width: 768px) {

    table tbody td,
    table thead tr {
        word-wrap: break-word;
    }

    .active {
        border-left: 5px solid #008000;
        margin: 0;
        padding: 0;
    }

    .inactive {
        border-left: 5px solid #ffa500;
        margin: 0;
        padding: 0;
    }
}