<!-- LOGOUT MODAL: Confirm to log out -->
<div *ngIf="showLogOutActionModal"
    class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed z-[9999]">
    <div class="relative flex flex-col items-center bg-white rounded-lg w-96 h-fit p-4 mt-32">
        <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark"
            [ngStyle]="{color: 'rgb(64 64 64 )'}" (click)="toggleLogOutActionModal()">
        </fa-icon>
        <p class="mb-8 mt-6 text-center">
            Are you sure you want to log out?
        </p>
        <app-button (btnClick)="logOut()" bgColor="red" txtColor="bg-white"
            txtContent="Logout"></app-button>
    </div>
</div>

<header class="relative flex bg-neutral-850 h-16 w-full items-center px-2">
    <div class="flex w-full items-center justify-between flex-1 xl:justify-end">
        <!-- Hamburger Menu -->
        <div class="justify-self-start xl:hidden hover:scale-105">
            <fa-icon [ngClass]="{'border': !isHidden}" class="menu-icon text-neutral-300 text-lg cursor-pointer rounded-md py-2 px-3" [icon]="faBars" (click)="toggleNavigation()"></fa-icon>
        </div>
        
        <!-- User Icon -->
        <div class="relative flex px-2 flex-col justify-self-end">
            <div class="relative hover:scale-105">
                <fa-icon class="user-icon cursor-pointer"
                    [ngStyle]="{color: 'rgb(212 212 212)', 'font-size': '24px'}"   
                    [icon]="faUserCircle"
                    (click)="toggleUserDetails()">
                </fa-icon>
                <fa-icon></fa-icon>
            </div>
    
            <div *ngIf="showUserDetails"
                 class="flex flex-col space-y-2 rounded-md p-3 absolute top-[125%] right-0 w-40 bg-neutral-100 shadow-lg z-20">
                <!-- Current User -->
                <div class="flex space-x-1">
                    <fa-icon class="" [ngStyle]="{color: 'rgb(82 82 82)', 'font-size': '15px'}"   
                        [icon]="faUserCircle">
                    </fa-icon>
                    <p class="capitalize font-semibold">{{getUser()}}</p>
                </div>
                <hr class="border-b border-neutral-300">
                
                <!-- Logout Button -->
                <button class="flex hover:font-semibold mt-4" (click)="toggleLogOutActionModal()">
                    <fa-icon [ngStyle]="{color: 'rgb(82 82 82)'}" [icon]="logOutIcon"></fa-icon>
                    <p class="text-neutral-900 ml-1">Logout</p>
                    <hr>
                </button>
            </div>
        </div>
    </div>

    <!-- Navigation: Smaller Screens -->
    <div class="bg-neutral-50 absolute top-full left-0 w-full h-auto text-neutral-900 xl:hidden transition-all duration-500 z-10" [ngClass]="{'-translate-y-[125%] opacity-0': isHidden, 'translate-y-0 opacity-100': !isHidden}">
        <a class="flex items-center px-4 py-2 hover:bg-neutral-200 duration-500" routerLink="/"
            routerLinkActive="bg-neutral-700 text-neutral-200 font-semibold hover:bg-neutral-700" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faHouse"></fa-icon>
            <p class="ml-3">Dashboard</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-200 duration-500" routerLink="/stocks"
            routerLinkActive="bg-neutral-700 text-neutral-200 font-semibold hover:bg-neutral-700" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faBoxesStacked"></fa-icon>
            <p class="ml-3">Inventory</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-200 duration-500" routerLink="/products"
            routerLinkActive="bg-neutral-700 text-neutral-200 font-semibold hover:bg-neutral-700" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faList"></fa-icon>
            <p class="ml-3">Menu</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-200 duration-500" routerLink="/pos"
            routerLinkActive="bg-neutral-700 text-neutral-200 font-semibold hover:bg-neutral-700" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faDesktop"></fa-icon>
            <p class="ml-3">POS</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-200 duration-500" routerLink="/suppliers"
            routerLinkActive="bg-neutral-700 text-neutral-200 font-semibold hover:bg-neutral-700" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faHandshake"></fa-icon>
            <p class="ml-3">Suppliers</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-200 duration-500" routerLink="/purchases"
            routerLinkActive="bg-neutral-700 text-neutral-200 font-semibold hover:bg-neutral-700" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faCreditCard"></fa-icon>
            <p class="ml-3">Purchases</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-200 duration-500" routerLink="/sales"
            routerLinkActive="bg-neutral-700 text-neutral-200 font-semibold hover:bg-neutral-700" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faWallet"></fa-icon>
            <p class="ml-3">Sales</p>
        </a>
    </div>
</header>

