<header class="relative flex bg-neutral-800 h-16 w-full items-center px-2">
    <div class="flex w-full items-center justify-between flex-1 xl:justify-end">
        <!-- Hamburger Menu -->
        <div class="justify-self-start xl:hidden hover:scale-105 transition-all duration-500">
            <fa-icon [ngClass]="{'border': !isHidden}"
                class="menu-icon text-neutral-300 text-lg cursor-pointer rounded-md py-1.5 px-2" [icon]="faBars"
                (click)="toggleNavigation()">
            </fa-icon>
        </div>

        <div id="notifcontainer" class="relative flex px-2 justify-self-end space-x-3">
            <!-- Bell Icon -->
            <div id="notif-icon"
                class="relative flex justify-center items-center rounded-full bg-neutral-300 w-7 h-7 hover:scale-105 transition-all duration-300"
                (click)="toggleNotifications()">
                <fa-icon class="cursor-pointer" [ngStyle]="{'font-size': '20px'}" [ngClass]="'text-neutral-900'"
                    [icon]="faBell">
                </fa-icon>
                <div *ngIf="unreadNotifications.length && !isNotificationClicked"
                    class="flex justify-center items-center rounded-full h-4 w-4 text-[11px] bg-[#ff0000] text-white text-center absolute -top-1.5 -right-1.5">
                    <p class="font-semibold">{{unreadNotifications.length}}</p>
                </div>
            </div>

            <!-- User Icon -->
            <div id="user-icon" class="hover:scale-105 transition-all duration-300">
                <fa-icon class="cursor-pointer" [ngStyle]="{color: 'rgb(212 212 212)', 'font-size': '28px'}"
                    [icon]="faUserCircle" (click)="toggleUserDetails()">
                </fa-icon>
            </div>

            <!-- SHARED CONTAINER: User and Notifs -->
            <div *ngIf="showNotifications || showUserDetails"
                class="flex flex-col rounded-md p-3 absolute top-[125%] right-0 bg-neutral-100 shadow-xl z-20 w-96 md:w-[450px]"
                [ngClass]="{'max-h-[80vh]': showNotifications, 'overflow-y-auto': notifications.length > 0}">
                <!-- User Details Div -->
                <div *ngIf="showUserDetails">
                    <!-- Current User -->
                    <div class="flex items-center space-x-2 p-3 shadow-lg bg-neutral-50">
                        <fa-icon class="text-lg" [ngStyle]="{color: 'rgb(82 82 82)'}" [icon]="faUserCircle">
                        </fa-icon>
                        <p class="capitalize font-semibold text-base">{{getUser()}}</p>
                    </div>

                    <!-- Logout Button -->
                    <div
                        class="flex w-full hover:bg-[rgba(0,0,0,0.1)] p-3 mt-3 rounded-md transition-all duration-300 cursor-pointer"
                        (click)="toggleLogOutActionModal()">
                        <fa-icon [ngStyle]="{color: 'rgb(82 82 82)'}" [icon]="logOutIcon"></fa-icon>
                        <p class="text-neutral-900 ml-2">Logout</p>
                        <hr>
                    </div>

                    <div class="flex justify-between text-xxs text-neutral-500 mt-4">
                        <p><span class="font-semibold">&copy;2023 {{title}}</span>. All rights reserved.</p>
                        <p><span class="font-semibold">Version</span> {{version}}</p>
                    </div>
                </div>

                <!-- Notifications Div -->
                <div *ngIf="showNotifications" class="relative text-neutral-900">
                    <div class="flex justify-between items-center mb-2">
                        <h3 class="text-[18px] lg:text-[24px] font-bold">Notifications</h3>
                        <!-- Option Button for Notifications -->
                        <div id="notifoption" (click)="toggleNotifOption()"
                            class="flex items-center justify-center w-9 h-9 rounded-full hover:bg-[rgba(0,0,0,0.1)] transition-all duration-300">
                            <fa-icon class="text-base text-neutral-500 cursor-pointer lg:text-xl" [icon]="faEllipsis">
                            </fa-icon>
                        </div>
                        <!-- Option Notif Div -->
                        <div *ngIf="showNotifOption"
                            class="bg-white flex flex-col p-1 rounded-md absolute top-10 right-0 shadow-xl w-56 z-30">
                            <div class="cursor-pointer flex items-center p-1.5 rounded-sm space-x-3 hover:bg-[rgba(0,0,0,0.1)]"
                                (click)="markAllAsRead()">
                                <fa-icon [icon]="faCheck"></fa-icon>
                                <p>Mark all as read</p>
                            </div>
                            <div class="cursor-pointer flex items-center p-1.5 rounded-sm space-x-3 hover:bg-[rgba(0,0,0,0.1)]"
                                (click)="toggleDelAllNotifModal()">
                                <fa-icon class="text-[#ff0000]" [icon]="faTrashCan"></fa-icon>
                                <p>Delete all notifications</p>
                            </div>
                        </div>
                    </div>

                    <div *ngIf="!notifications.length" class="ml-2">
                        You have no notifications.
                    </div>

                    <div *ngIf="notifications.length">
                        <div class="cursor-pointer"
                            [ngClass]="{'bg-blue-100': !notif.is_read, 'bg-inherit': notif.is_read}"
                            *ngFor="let notif of notifications">
                            <div (click)="markAsRead(notif)" (dblclick)="deleteEachNotif(notif)"
                                class="hover:bg-[rgba(0,0,0,0.1)] p-2 whitespace-nowrap text-ellipsis overflow-hidden transition-all duration-300">
                                <p class="whitespace-pre-wrap">
                                    <span class="font-semibold" [ngClass]="{
                                            'text-[#ffa500]': notif.warning_type === 'Low stock level',
                                            'text-[#ff0000]': notif.warning_type === 'Critical stock level',
                                            }">
                                        {{notif.warning_type}}:
                                    </span>
                                    {{notif.content}}
                                </p>
                                <!-- Timestamp -->
                                <p class="text-neutral-500 text-xxs mt-1 md:text-xs">
                                    {{notif.timestamp | date: "dd MMM 'at' hh:mm a"}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- End of Notifications Div -->
                </div>
                <!-- Shared Container ends here -->
            </div>
        </div>
    </div>

    <!-- Navigation: Smaller Screens -->
    <div class="bg-neutral-50 absolute text-sm top-full left-0 w-full h-auto text-neutral-900 xl:hidden transition-all duration-500 shadow-lg z-10"
        [ngClass]="{'-translate-y-[125%] opacity-0': isHidden, 'translate-y-0 opacity-100': !isHidden}">
        <a class="flex items-center px-4 py-2 hover:bg-neutral-200 duration-500" routerLink="/"
            routerLinkActive="bg-neutral-700 text-neutral-200 font-semibold hover:bg-neutral-700"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faHouse"></fa-icon>
            <p class="ml-3">Dashboard</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-200 duration-500" routerLink="/stocks"
            routerLinkActive="bg-neutral-700 text-neutral-200 font-semibold hover:bg-neutral-700"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faBoxesStacked"></fa-icon>
            <p class="ml-3">Inventory</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-200 duration-500" routerLink="/products"
            routerLinkActive="bg-neutral-700 text-neutral-200 font-semibold hover:bg-neutral-700"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faList"></fa-icon>
            <p class="ml-3">Products</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-200 duration-500" routerLink="/pos"
            routerLinkActive="bg-neutral-700 text-neutral-200 font-semibold hover:bg-neutral-700"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faDesktop"></fa-icon>
            <p class="ml-3">POS</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-200 duration-500" routerLink="/suppliers"
            routerLinkActive="bg-neutral-700 text-neutral-200 font-semibold hover:bg-neutral-700"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faBoxesPacking"></fa-icon>
            <p class="ml-3">Suppliers</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-200 duration-500" routerLink="/purchases"
            routerLinkActive="bg-neutral-700 text-neutral-200 font-semibold hover:bg-neutral-700"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faCreditCard"></fa-icon>
            <p class="ml-3">Purchases</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-200 duration-500" routerLink="/sales"
            routerLinkActive="bg-neutral-700 text-neutral-200 font-semibold hover:bg-neutral-700"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faMoneyBillTrendUp"></fa-icon>
            <p class="ml-3">Sales</p>
        </a>
    </div>
</header>

<!-- DELETE ALL NOTIFS MODAL -->
<div *ngIf="showDelAllNotifModal"
    class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed z-[999]">
    <div class="relative flex flex-col items-center bg-white rounded-lg h-fit p-4 mt-32 w-1/2 lg:w-1/4 md:w-1/3">
        <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark" [ngStyle]="{color: 'rgb(64 64 64 )'}"
            (click)="toggleDelAllNotifModal()">
        </fa-icon>
        <p class="mb-8 mt-6 text-center">
            Are you sure you want to delete all notifications? This action cannot be undone.
        </p>
        <button class="text-white bg-red-600 hover:bg-red-500"
                (click)="deleteAllNotifs()">Delete</button>
    </div>
</div>

<!-- LOGOUT MODAL: Confirm to log out -->
<div *ngIf="showLogOutActionModal"
    class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed z-[999]">
    <div class="relative flex flex-col items-center bg-white rounded-lg h-fit p-4 mt-32 w-1/2 lg:w-1/4 md:w-1/3">
        <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark" [ngStyle]="{color: 'rgb(64 64 64 )'}"
            (click)="toggleLogOutActionModal()">
        </fa-icon>
        <p class="mb-8 mt-6 text-center">
            Are you sure you want to log out?
        </p>
        <button (click)="logOut()" class="bg-red-700 hover:bg-red-600">Logout</button>
    </div>
</div>

<!-- CSS Loader -->
<div *ngIf="isLoading" class="top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.3)] fixed z-[9999]">
    <app-loader></app-loader>
</div>