<!-- LOGOUT MODAL: Confirm to log out -->
<div *ngIf="showLogOutActionModal"
    class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed z-[9999]">
    <div class="relative flex flex-col items-center bg-white rounded-lg w-96 h-fit p-4 mt-32">
        <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark"
            [ngStyle]="{color: 'rgb(64 64 64 )'}" (click)="toggleLogOutActionModal()">
        </fa-icon>
        <p class="mb-8 mt-6 text-center">
            Are you sure you want to log out?
        </p>
        <app-button (btnClick)="logOut()" bgColor="red" txtColor="bg-white"
            txtContent="Logout"></app-button>
    </div>
</div>

<nav class="bg-neutral-850 h-auto w-[250px]">
    <div class="flex flex-col items-center py-4 bg-neutral-750 text-neutral-50">
        <h1 class="text-[30px] font-bold mt-2">{{ title }}</h1>
        <p class="text-[10px] mt-1">Inventory Management System with POS</p>
    </div>

    <!-- SEARCH -->
    <form (ngSubmit)="onSearch()" class="flex justify-between pl-2 py-1 mx-4 mt-4 rounded-md bg-neutral-200">
        <input [(ngModel)]="searchQuery" name="searchQuery"
            class="outline-none w-full bg-inherit border-r border-neutral-500" type="text" placeholder="Search...">
        <button type="submit">
            <fa-icon class="px-2" [ngStyle]="{color: 'rgb(115 115 115)'}" [icon]="faMagnifyingGlass"></fa-icon>
        </button>
    </form>

    <div *ngIf="isFilter" class="flex mx-4 mt-2 items-center text-xs">
        <p class="text-neutral-300">Filter:</p>
        <div class="flex items-center mx-2 p-1 rounded-sm bg-neutral-300 w-fit">
            <p class="text-neutral-900 mr-2">{{filterText}}</p>
            <fa-icon (click)="clearSearch()" [icon]="faTimes"></fa-icon>
        </div>
    </div>

    <!-- NAVIGATION -->
    <hr class="border-t-2 border-neutral-300 mx-4 mt-4">
    <div class="text-neutral-300 mt-2">
        <a class="flex items-center px-4 py-2 hover:bg-neutral-900" routerLink="/"
            routerLinkActive="bg-neutral-950 text-neutral-200 font-semibold hover:bg-neutral-950" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faHouse"></fa-icon>
            <p class="ml-3">Dashboard</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-900" routerLink="/stocks"
            routerLinkActive="bg-neutral-950 text-neutral-200 font-semibold hover:bg-neutral-950" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faBoxesStacked"></fa-icon>
            <p class="ml-3">Inventory</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-900" routerLink="/products"
            routerLinkActive="bg-neutral-950 text-neutral-200 font-semibold hover:bg-neutral-950" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faList"></fa-icon>
            <p class="ml-3">Menu</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-900" routerLink="/pos"
            routerLinkActive="bg-neutral-950 text-neutral-200 font-semibold hover:bg-neutral-950" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faDesktop"></fa-icon>
            <p class="ml-3">POS</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-900" routerLink="/suppliers"
            routerLinkActive="bg-neutral-950 text-neutral-200 font-semibold hover:bg-neutral-950" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faHandshake"></fa-icon>
            <p class="ml-3">Suppliers</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-900" routerLink="/purchases"
            routerLinkActive="bg-neutral-950 text-neutral-200 font-semibold hover:bg-neutral-950" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faCreditCard"></fa-icon>
            <p class="ml-3">Purchases</p>
        </a>

        <a class="flex items-center px-4 py-2 hover:bg-neutral-900" routerLink="/sales"
            routerLinkActive="bg-neutral-950 text-neutral-200 font-semibold hover:bg-neutral-950" [routerLinkActiveOptions]="{exact: true}">
            <fa-icon class="scale-90" [icon]="faWallet"></fa-icon>
            <p class="ml-3">Sales</p>
        </a>

        <!-- Logout Button -->
        <button class="flex items-center px-4 py-2 hover:bg-neutral-900 w-full" (click)="toggleLogOutActionModal()">
            <fa-icon [icon]="logOutIcon"></fa-icon>
            <p class="ml-3">Logout</p>
            <hr>
        </button>
    </div>
</nav>