<nav class="bg-neutral-900 h-auto w-[260px]">
    <hr class="border-t-2 border-neutral-300 mx-4 mt-8">
    <div class="flex flex-col text-neutral-300 mt-2">
        <a class="px-4 py-2 hover:font-bold" routerLink="/" routerLinkActive="bg-neutral-950 text-neutral-200 font-bold"
            [routerLinkActiveOptions]="{exact: true}">
            Dashboard</a>

        <a class="px-4 py-2 hover:font-bold" routerLink="/stocks"
            routerLinkActive="bg-neutral-950 text-neutral-200 font-bold" [routerLinkActiveOptions]="{exact: true}">
            Stocks</a>

        <a class="px-4 py-2 hover:font-bold" routerLink="/products"
            routerLinkActive="bg-neutral-950 text-neutral-200 font-bold" [routerLinkActiveOptions]="{exact: true}">
            Products</a>

        <a class="px-4 py-2 hover:font-bold" routerLink="/pos"
            routerLinkActive="bg-neutral-950 text-neutral-200 font-bold" [routerLinkActiveOptions]="{exact: true}">
            POS</a>

        <a class="px-4 py-2 hover:font-bold" routerLink="/purchases"
            routerLinkActive="bg-neutral-950 text-neutral-200 font-bold" [routerLinkActiveOptions]="{exact: true}">
            Purchases</a>

        <a class="px-4 py-2 hover:font-bold" routerLink="/sales"
            routerLinkActive="bg-neutral-950 text-neutral-200 font-bold" [routerLinkActiveOptions]="{exact: true}">
            Sales</a>

        <a class="px-4 py-2 hover:font-bold" routerLink="/about"
            routerLinkActive="bg-neutral-950 text-neutral-200 font-bold" [routerLinkActiveOptions]="{exact: true}">
            About</a>
    </div>
</nav>