<nav class="bg-neutral-900 h-auto w-[250px]">
    <div
        class="flex flex-col items-center p-3 text-neutral-900 bg-neutral-50">
        <div class="flex justify-center items-center">
            <img class="w-[36px] h-auto" src="assets\logo\cube-black.png" alt="invenia-logo">
            <div class="text-center">
                <p class="text-[36px] leading-none font-extrabold">Invenia<span class="font-semibold">+</span></p>
                <p class="text-xxs">Inventory Management System | POS</p>
            </div>
        </div>
    </div>

    <!-- NAVIGATION -->
    <div>
        <h3 class="bg-neutral-950 text-[11px] text-neutral-500 px-4 py-2">NAVIGATION</h3>
    </div>

    <div class="text-neutral-300 font-medium">
        <a class="flex items-center px-4 py-3 hover:bg-neutral-800 hover:text-white hover:font-semibold transition-all duration-300"
            routerLink="/"
            routerLinkActive="bg-neutral-800"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon [icon]="faHouse"></fa-icon>
            <p class="ml-3">Dashboard</p>
        </a>

        <a class="flex items-center px-4 py-3 hover:bg-neutral-800 hover:text-white hover:font-semibold transition-all duration-300"
            routerLink="/stocks"
            routerLinkActive="bg-neutral-800"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon [icon]="faBoxesStacked"></fa-icon>
            <p class="ml-3">Inventory</p>
        </a>

        <a class="flex items-center px-4 py-3 hover:bg-neutral-800 hover:text-white hover:font-semibold transition-all duration-300"
            routerLink="/products"
            routerLinkActive="bg-neutral-800"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon [icon]="faList"></fa-icon>
            <p class="ml-3">Menu</p>
        </a>

        <a class="flex items-center px-4 py-3 hover:bg-neutral-800 hover:text-white hover:font-semibold transition-all duration-300"
            routerLink="/pos"
            routerLinkActive="bg-neutral-800"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon [icon]="faDesktop"></fa-icon>
            <p class="ml-3">POS</p>
        </a>

        <a class="flex items-center px-4 py-3 hover:bg-neutral-800 hover:text-white hover:font-semibold transition-all duration-300"
            routerLink="/suppliers"
            routerLinkActive="bg-neutral-800"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon [icon]="faBoxesPacking"></fa-icon>
            <p class="ml-3">Suppliers</p>
        </a>

        <a class="flex items-center px-4 py-3 hover:bg-neutral-800 hover:text-white hover:font-semibold transition-all duration-300"
            routerLink="/purchases"
            routerLinkActive="bg-neutral-800"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon [icon]="faCreditCard"></fa-icon>
            <p class="ml-3">Purchases</p>
        </a>

        <a class="flex items-center px-4 py-3 hover:bg-neutral-800 hover:text-white hover:font-semibold transition-all duration-300"
            routerLink="/sales"
            routerLinkActive="bg-neutral-800"
            [routerLinkActiveOptions]="{exact: true}">
            <fa-icon [icon]="faMoneyBillTrendUp"></fa-icon>
            <p class="ml-3">Sales</p>
        </a>

        <!-- Logout Button -->
        <button class="flex items-center px-4 py-3 hover:bg-neutral-800 hover:text-white hover:font-semibold w-full" (click)="toggleLogOutActionModal()">
            <fa-icon [icon]="logOutIcon"></fa-icon>
            <p class="ml-3">Logout</p>
            <hr>
        </button>
    </div>
</nav>

<!-- LOGOUT MODAL: Confirm to log out -->
<div *ngIf="showLogOutActionModal"
    class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed z-[9999]">
    <div class="relative flex flex-col items-center bg-white rounded-lg w-96 h-fit p-4 mt-32">
        <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark" [ngStyle]="{color: 'rgb(64 64 64 )'}"
            (click)="toggleLogOutActionModal()">
        </fa-icon>
        <p class="mb-8 mt-6 text-center">
            Are you sure you want to log out?
        </p>
        <app-button (btnClick)="logOut()" bgColor="red" txtColor="bg-white" txtContent="Logout"></app-button>
    </div>
</div>