<div class="relative w-full px-8">
    <!-- HEADING: POS PAGE -->
    <div class="flex justify-between mt-8">
        <h1 class="font-bold text-3xl">POINT OF SALES</h1>
    </div>
    <hr class="border-b-1 border-neutral-900 mt-4">

    <div class="relative w-full px-8">
        <!-- ITEM MODAL: Confirm to Delete Item -->
        <div *ngIf="showItemActionModal"
            class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed">
            <div class="relative flex flex-col items-center bg-white rounded-lg w-96 h-fit p-4 mt-32">
                <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark"
                    [ngStyle]="{color: 'rgb(64 64 64 )'}" (click)="toggleItemActionModal()">
                </fa-icon>
                <p class="mb-8 mt-6 text-center">Are you sure you want to delete this item?<br>This action cannot be
                    undone.</p>
                <app-button (btnClick)="onConfirmDeleteItem()" bgColor="red" txtColor="bg-white"
                    txtContent="Delete"></app-button>
            </div>
        </div>

        <!-- BILL MODAL: Confirm to Delete Bill -->
        <div *ngIf="showBillActionModal"
            class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed">
            <div class="relative flex flex-col items-center bg-white rounded-lg w-96 h-fit p-4 mt-48">
                <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark"
                    [ngStyle]="{color: 'rgb(64 64 64 )'}" (click)="toggleBillActionModal()">
                </fa-icon>
                <p class="mb-8 mt-6 text-center">Are you sure you want to delete this bill?<br>This action cannot be
                    undone.</p>
                <app-button (btnClick)="onConfirmDelete()" bgColor="red" txtColor="bg-white"
                    txtContent="Delete"></app-button>
            </div>
        </div>

        <!-- HEADING: ITEM TABLE -->
        <div *ngIf="showItemTable" class="flex justify-between mt-8">
            <h1 class="font-bold text-2xl">Order List:</h1>
            <!-- BACK TO BILL TABLE BUTTON -->
            <app-button txtContent="Back" bgColor="rgb(38 38 38)"
                (btnClick)="toggleItemTable(saleBill)"></app-button>
        </div>

        <!-- FLEX CONTAINER: ORDER LIST -->
        <div *ngIf="showItemTable" class="flex justify-center space-x-2 w-full">
            <div class="table-container w-3/4 text-center shadow-xl rounded-xl mt-4 {{showBillTable? 'hidden': 'block'}}">
                <!-- ITEM FORM -->
                <form class="flex items-end text-start justify-between w-full bg-[#fff] h-fit mx-auto px-4 py-2 rounded-lg shadow-xl text-neutral-900" (ngSubmit)="onSubmitItem()">
                    <div class="flex flex-col w-2/5">
                        <label for="product_name">Product:</label>
                        <select class="border border-neutral-900 px-1 py-0.5 rounded-sm mt-1 w-full" name="product_name"
                            id="product_name" [(ngModel)]="saleItem.product_id" (change)="onProductSelectionChange($event)">
                            <option *ngFor="let product of products" selected value="{{product.id}}">
                                {{product.product_name}}</option>
                            <option class="text-neutral-500" value="addNewProduct">add new product ...</option>
                        </select>
                    </div>

                    <div class="flex flex-col w-2/5">
                        <label for="quantity_sold">Quantity:</label>
                        <input class="text-center uppercase border border-neutral-900 px-1 py-0.5    rounded-sm mt-1 w-full" type="text"
                            name="quantity_sold" id="quantity_sold" [(ngModel)]="saleItem.quantity_sold">
                    </div>

                    <!-- BUTTON: Add or Edit Item -->
                    <button class="flex px-1.5 py-1 h-fit items-center space-x-1 rounded-md bg-neutral-800" type="submit">
                        <fa-icon class="scale-75" [icon]="faPlus" [ngStyle]="{color: 'rgb(212 212 212)'}">
                        </fa-icon>
                        <p class="text-neutral-300 text-xs">{{ proceedEditItem? 'Update': 'Add' }}</p>
                    </button>
                </form>

                <!-- ITEM TABLE -->
                <table class="w-full table-fixed rounded-xl mt-4">
                    <thead class="text-neutral-300 bg-neutral-900">
                        <th>Code</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Sub Total</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of saleItems">
                            <td class="p-2 flex justify-start items-center space-x-6">
                                <button class="px-1.5 py-1 rounded-md bg-[#ff0000]" (click)="deleteSaleItem(item)">
                                    <fa-icon class="scale-75" [icon]="faTrashCan"
                                        [ngStyle]="{color: 'rgb(212 212 212)'}">
                                    </fa-icon>
                                </button>
                                <p>{{getProductDetails(item.product_id).productCode}}</p>
                            </td>
                            <td class="p-2">
                                <p>{{getProductDetails(item.product_id).productName}}</p>
                            </td>
                            <td class="p-2">{{item.quantity_sold}}</td>
                            <td class="p-2">{{item.sub_total | number: '1.2-2'}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- BILL DIV -->
            <div class="bg-[#fff] flex-1 h-auto mx-auto p-4 rounded-lg shadow-xl text-neutral-900 mt-4">
                <div class="flex flex-col">
                    <h3 class="" for="saleBill.customer_name">Bill No.:</h3>
                    <p class="uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1">
                        {{saleBill.billno}}
                    </p>

                    <h3 class="mt-4" for="saleBill.customer_name">Customer Name:</h3>
                    <p class="uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1">
                        {{saleBill.customer_name}}
                    </p>

                    <h3 class="mt-4" for="remarks">Remarks:</h3>
                    <p class="uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1">
                        {{saleBill.remarks}}
                    </p>

                    <h3 class="mt-4" for="remarks">Total Amount:</h3>
                    <p class="uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1">
                        {{saleBill.grand_total}}
                    </p>

                    <!-- Submit Button -->
                    <button class="mt-10 bg-neutral-800 text-neutral-300 font-bold p-2 rounded hover:bg-[rgb(48,48,48)]"
                        type="button">
                        Proceed Payment
                    </button>
                </div>
            </div>
        </div>

        <!-- HEADING: BILL TABLE -->
        <div *ngIf="showBillTable" class="flex justify-between mt-8">
            <h1 class="font-bold text-2xl">{{showBillForm? '': 'Ongoing Transactions:'}}</h1>
            <!-- ADD BUTTON -->
            <app-button txtContent="{{showBillForm? 'Cancel': 'Add'}}" bgColor="{{showBillForm? 'red': 'green'}}"
                (btnClick)="toggleBillForm()"></app-button>
        </div>

        <!-- BILL FORM -->
        <div *ngIf="showBillForm"
            class="bg-[#fff] max-w-xl h-auto mx-auto px-8 py-10 rounded-lg shadow-xl text-neutral-900 mt-4">
            <h2 class="font-bold text-center text-2xl"> {{ proceedEditBill? 'Edit transaction details' : 'Add new transaction' }}</h2>
            <form class="flex flex-col mt-2" (ngSubmit)="onSubmit()">
                <label class="mt-4" for="saleBill.customer_name">Customer Name:</label>
                <input class="uppercase border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="text"
                    name="saleBill.customer_name" id="saleBill.customer_name" [(ngModel)]="saleBill.customer_name">

                <label class="mt-4" for="remarks">Remarks:</label>
                <input class="uppercase border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="text" name="remarks"
                    id="remarks" [(ngModel)]="saleBill.remarks">

                <!-- Submit Button -->
                <button class="mt-10 bg-neutral-800 text-neutral-300 font-bold p-2 rounded hover:bg-[rgb(48,48,48)]"
                    type="submit">
                    {{ proceedEditBill? 'Update': 'Add' }}
                </button>
            </form>
        </div>

        <!-- BILL TABLE -->
        <div *ngIf="showBillTable" class="w-full text-center shadow-xl rounded-xl mt-4 {{showBillForm? 'hidden': 'block'}}">
            <table class="w-full table-fixed rounded-xl">
                <thead class="text-neutral-300 bg-neutral-900">
                    <th>Order</th>
                    <th>Bill no.</th>
                    <th>Customer Name</th>
                    <th>Remarks</th>
                    <th>Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let saleBill of saleBills">
                        <td class="flex justify-center p2">
                            <!-- View Order List -->
                            <button class="flex px-1.5 py-1 items-center space-x-1 rounded-md bg-neutral-800"
                                (click)="toggleItemTable(saleBill)">
                                <fa-icon class="scale-75" [icon]="faEye" [ngStyle]="{color: 'rgb(212 212 212)'}">
                                </fa-icon>
                                <p class="text-neutral-300 text-xs">View</p>
                            </button>
                        </td>
                        <td class="p-2">{{saleBill.billno}}</td>
                        <td class="p-2">{{saleBill.customer_name}}</td>
                        <td class="p-2">{{saleBill.remarks}}</td>
                        <td class="flex justify-center p-2 space-x-6">
                            <!-- Edit Sale Bill -->
                            <fa-icon class="hover:scale-110" [ngStyle]="{color: 'green'}" [icon]="faPen"
                                (click)="updateSaleBill(saleBill)">
                            </fa-icon>
                            <!-- Delete SaleBill -->
                            <fa-icon class="hover:scale-110" [ngStyle]="{color: 'red'}" [icon]="faTrashCan"
                                (click)="deleteSaleBill(saleBill)">
                            </fa-icon>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>