<div class="relative w-full px-2 sm:px-4 md:px-6 lg:px-8">
    <!-- HEADING: POS PAGE -->
    <div class="flex justify-between mt-4 lg:mt-8">
        <h1 class="font-bold text-2xl lg:text-3xl">POINT OF SALES</h1>
    </div>
    <hr class="border-b-1 border-neutral-900 mt-4">

    <div class="relative w-full px-2 lg:px-4">
        <!-- HEADING: ORDER LIST -->
        <div class="flex justify-between mt-4">
            <h1 class="font-bold text-xl lg:text-2xl">Add orders:</h1>
        </div>
        <!-- ITEM FORM -->
        <form
            class="flex items-end text-start justify-between w-full bg-[#fff] h-fit mt-2 px-4 py-2 rounded-lg shadow-xl text-neutral-900 md:w-3/4"
            (ngSubmit)="onSubmitItem()" (change)="onSelectChange($event)">
            <div class="flex flex-col w-2/5">
                <label for="name">Product:</label>
                <select class="border border-neutral-900 px-1 py-0.5 rounded-sm mt-1 w-full" name="name" id="name"
                    [(ngModel)]="saleItem.menu">
                    <option *ngFor="let menu of menus" selected value="{{menu.id}}">
                        {{menu.name}}</option>
                    <option class="text-neutral-500" value="addNewProduct">add new product ...</option>
                </select>
            </div>

            <div class="flex flex-col w-2/5">
                <label for="quantity">Quantity:</label>
                <div class="flex items-center space-x-1">
                    <fa-icon class="cursor-pointer" [icon]="faMinus" (click)="decreaseQtyInput()"></fa-icon>
                    <input appSelectAllText
                        class="text-center uppercase border border-neutral-900 px-1 py-0.5    rounded-sm mt-1 w-2/3"
                        type="number" name="quantity" id="quantity" [(ngModel)]="saleItem.quantity" min="0">
                    <fa-icon class="cursor-pointer" [icon]="faPlus" (click)="increaseQtyInput()"></fa-icon>
                </div>
            </div>

            <!-- BUTTON: Add or Edit Item -->
            <button class="flex px-1.5 py-1 h-fit items-center space-x-1 rounded-md bg-neutral-800" type="submit">
                <fa-icon class="scale-75" [icon]="faPlus" [ngStyle]="{color: 'rgb(212 212 212)'}">
                </fa-icon>
                <p class="text-neutral-300 text-xs">{{ proceedEditItem? 'Update': 'Add' }}</p>
            </button>
        </form>

        <!-- FLEX CONTAINER: ORDER LIST -->
        <div class="flex flex-col justify-center space-x-0 w-full md:flex-row md:space-x-2">
            <div class="table-container w-full text-center shadow-xl mt-4 md:w-3/4">
                <!-- ITEM TABLE -->
                <table class="w-full table-fixed">
                    <thead class="text-neutral-300 bg-neutral-900">
                        <th *ngIf="saleItems.length > 0" class="w-7"></th>
                        <th>Time</th>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Sub Total</th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of saleItems">
                            <td *ngIf="saleItems.length > 0" class="m-auto overflow-visible">
                                <button class="px-1.5 py-1 rounded-md bg-[#ff0000] cursor-pointer" (click)="deleteSaleItem(item)">
                                    <fa-icon class="scale-75" [icon]="faTrashCan"
                                        [ngStyle]="{color: 'rgb(212 212 212)'}">
                                    </fa-icon>
                                </button>
                            </td>
                            <td class="py-1 px-0.5 md:px-1 md:py-2">{{item.sale_date | date: 'hh:mm a'}}</td>
                            <td class="py-1 px-0.5 md:px-1 md:py-2">{{getMenuDetails(item.menu).name}}</td>
                            <td class="py-1 px-0.5 md:px-1 md:py-2">{{item.quantity}}</td>
                            <td class="py-1 px-0.5 md:px-1 md:py-2">
                                <p>{{item.price| number: '1.2-2'}}</p>
                            </td>
                            <td class="py-1 px-0.5 md:px-1 md:py-2">{{item.sub_total | number: '1.2-2'}}</td>
                        </tr>
                    </tbody>
                </table>
                <!-- While fetching data. -->
                <div *ngIf="saleItems.length === 0 && isFetching" class="h-[10vh]">
                    <app-loader></app-loader>
                </div>
                <!-- When no items to show -->
                <div class="w-full h-[5vh]" *ngIf="noItemsToShow && !isFetching">
                    <p class="text-center my-4">No items.</p>
                </div>
            </div>

            <!-- BILL FORM: Add -->
            <div *ngIf="!updatingOrder"
                class="bg-white self-start mx-auto p-4 rounded-lg shadow-xl text-neutral-900 mt-4 w-full md:flex-1">
                <form class="flex flex-col" (ngSubmit)="onSubmitBill()">
                    <h2 class="font-bold text-center text-base lg:text-xl md:lg md:flex-1">
                        {{ proceedEditBill? "Updating..." : "New transaction" }}
                    </h2>
                    <label class="mt-2" for="saleBill.customer_name">Customer:</label>
                    <input class="uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1" type="text"
                        name="saleBill.customer_name" id="saleBill.customer_name" [(ngModel)]="saleBill.customer_name">

                    <label class="mt-2" for="remarks">Remarks:</label>
                    <input class="uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1" type="text"
                        name="remarks" id="remarks" [(ngModel)]="saleBill.remarks">

                    <h3 class="mt-2" for="remarks">Total Bill:</h3>
                    <p class="text-center uppercase bg-blue-50 border border-neutral-900 px-1 py-0.5 rounded-sm mt-1">
                        &#8369;{{saleBill.grand_total | number: '1.2-2'}}
                    </p>

                    <!-- Submit Button -->
                    <button class="mt-6 bg-[#008000] text-white font-bold p-2 rounded hover:bg-[#009000]" type="submit">
                        Add
                    </button>
                </form>
            </div>

            <!-- BILL DIV -->
            <div *ngIf="updatingOrder"
                class="bg-[#fff] self-start h-auto mx-auto p-4 rounded-lg shadow-xl text-neutral-900 mt-4 w-full md:flex-1">
                <div class="flex flex-col">
                    <h3 for="saleBill.customer_name">TRN Code:</h3>
                    <p class="uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1 text-center">
                        {{saleBill.billno}}
                    </p>

                    <h3 class="mt-2" for="saleBill.customer_name">Customer:</h3>
                    <p class="uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1 text-center">
                        {{saleBill.customer_name}}
                    </p>

                    <h3 class="mt-2 {{saleBill.remarks? 'block' : 'hidden'}}" for="remarks">Remarks:</h3>
                    <p
                        class="uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1 text-center {{saleBill.remarks? 'block' : 'hidden'}}">
                        {{saleBill.remarks}}
                    </p>

                    <h3 class="mt-2">Total Bill:</h3>
                    <p class="uppercase border border-neutral-900 px-1 py-0.5 rounded-sm mt-1 text-center">
                        &#8369;{{saleBill.grand_total | number: '1.2-2'}}
                    </p>

                    <!-- Proceed Payment Button -->
                    <div class="flex justify-center mt-6 space-x-2">
                        <button *ngIf="updatingOrder"
                            class="bg-neutral-800 text-neutral-300 font-bold px-4 py-2 rounded hover:bg-[rgb(48,48,48)]"
                            type="button" (click)="viewOrder(saleBill)">
                            Back
                        </button>
                        <button class="bg-orange-500 text-white font-bold px-4 py-2 rounded hover:bg-orange-400"
                            type="button" (click)="toggleProceedPayment()">
                            Checkout
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!-- HEADING: TRANSACTION TABLE -->
        <div *ngIf="showBillTable" class="flex justify-between mt-6 lg:mt-8">
            <h1 class="font-bold text-xl lg:text-2xl">Ongoing Transactions:</h1>
        </div>

        <!-- BILL TABLE -->
        <div *ngIf="showBillTable" class="w-full text-center shadow-xl rounded-xl mt-4">
            <table class="w-full table-fixed rounded-xl">
                <thead class="text-neutral-300 bg-neutral-900">
                    <th *ngIf="activeBills.length > 0" class="w-7"></th>
                    <th>Time</th>
                    <th class="w-[20%] md:w-auto">TRN Code</th>
                    <th>Customer</th>
                    <th class="hidden md:table-cell"><span>Remarks</span></th>
                    <th class="w-[10%] md:w-auto">Items</th>
                    <th>Total</th>
                    <th class="w-[15%] md:w-auto">Action</th>
                </thead>
                <tbody>
                    <tr *ngFor="let bill of activeBills">
                        <td *ngIf="activeBills.length > 0" class="m-auto overflow-visible">
                            <button class="px-1.5 py-0.5 rounded-md bg-neutral-800" (click)="viewOrder(bill)">
                                <fa-icon [icon]="faRectangleList" [ngStyle]="{color: 'rgb(212 212 212)'}">
                                </fa-icon>
                            </button>
                        </td>
                        <td class="py-1 px-0.5 md:px-1 md:py-2">{{bill.time | date: 'hh:mm a'}}</td>
                        <td class="py-1 px-0.5 md:px-1 md:py-2">{{bill.billno}}</td>
                        <td class="py-1 px-0.5 md:px-1 md:py-2">{{bill.customer_name}}</td>
                        <td class="py-1 px-0.5 md:px-1 md:py-2 hidden md:table-cell">{{bill.remarks}}</td>
                        <td class="py-1 px-0.5 md:px-1 md:py-2">{{getItemLength(bill)}}</td>
                        <td class="py-1 px-0.5 md:px-1 md:py-2">&#8369;{{bill.grand_total | number: '1.2-2'}}</td>
                        <td class="py-1 px-0.5 md:px-1 md:py-2">
                            <div class="flex justify-center items-center space-x-2 md:space-x-4">
                                <!-- Edit Sale Bill -->
                                <fa-icon class="hover:scale-110 cursor-pointer" [ngStyle]="{color: 'green'}" [icon]="faPen"
                                    (click)="updateSaleBill(bill)">
                                </fa-icon>
                                <!-- Delete SaleBill -->
                                <fa-icon class="hover:scale-110 cursor-pointer" [ngStyle]="{color: 'red'}" [icon]="faTrashCan"
                                    (click)="deleteSaleBill(bill)">
                                </fa-icon>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- While fetching data. -->
            <div *ngIf="activeBills.length === 0 && isFetching" class="h-[10vh]">
                <app-loader></app-loader>
            </div>
            <!-- When no transactions to show -->
            <div class="w-full h-[5vh]" *ngIf="noActiveBillsToShow && !isFetching">
                <p class="text-center my-4">No ongoing transactions.</p>
            </div>
        </div>

        <!-- BILL FORM: Edit -->
        <div *ngIf="showBillForm" class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed">
            <div
                class="relative flex flex-col items-center bg-white rounded-lg h-fit p-4 mt-32 w-2/3 lg:w-1/4 md:w-1/3">
                <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark"
                    [ngStyle]="{color: 'rgb(64 64 64 )'}" (click)="toggleBillForm()">
                </fa-icon>
                <h2 class="font-bold text-center text-lg lg:text-2xl md:text-xl">
                    {{ proceedEditBill? "Edit transaction details" : "Add new transaction" }}
                </h2>
                <form class="flex flex-col mt-2 w-full" (ngSubmit)="onSubmitBill()">
                    <h4 class="mt-4" for="saleBill.customer_name">Bill No:</h4>
                    <p class="uppercase bg-blue-50 border border-neutral-900 px-2 py-1 rounded-sm mt-1">
                        {{saleBill.billno}}
                    </p>
                    <label class="mt-4" for="saleBill.customer_name">Customer:</label>
                    <input class="uppercase border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="text"
                        name="saleBill.customer_name" id="saleBill.customer_name-edit"
                        [(ngModel)]="saleBill.customer_name">

                    <label class="mt-4" for="remarks">Remarks:</label>
                    <input class="uppercase border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="text"
                        name="remarks" id="remarks-edit" [(ngModel)]="saleBill.remarks">

                    <!-- Submit Button -->
                    <button class="mt-10 bg-neutral-800 text-neutral-300 font-bold p-2 rounded hover:bg-[rgb(48,48,48)]"
                        type="submit">
                        Update
                    </button>
                </form>
            </div>
        </div>

        <!-- CHECKOUT MODAL: Amount Tendered and Change -->
        <div *ngIf="proceedPayment" class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed">
            <form class="relative flex flex-col bg-white rounded-lg h-fit p-4 mt-32 w-2/3 lg:w-1/4 md:w-1/3"
                (ngSubmit)="onPayment()">
                <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark"
                    [ngStyle]="{color: 'rgb(64 64 64 )'}" (click)="toggleProceedPayment()">
                </fa-icon>
                <h2 class="font-bold text-center text-lg lg:text-2xl md:text-xl">
                    Checkout
                </h2>
                <h4 class="mt-4">Payable Amount:</h4>
                <p class="text-end uppercase bg-blue-50 border border-neutral-900 px-2 py-1 rounded-sm mt-1">
                    &#8369;{{saleBill.grand_total | number: '1.2-2'}}</p>

                <label class="mt-4" for="amount_tendered">Amount Tendered:</label>
                <input appSelectAllText class="text-end uppercase border border-neutral-900 px-2 py-1 rounded-sm mt-1"
                    type="number" name="amount_tendered" id="amount_tendered" [(ngModel)]="saleBill.amount_tendered"
                    (input)="onAmountTenderedChange()" min="0">

                <h4 class="mt-4">Change:</h4>
                <p class="text-end uppercase bg-blue-50 border border-neutral-900 px-2 py-1 rounded-sm mt-1">
                    &#8369;{{amountChange}}</p>

                <label class="mt-4" for="mode_of_payment">Mode of Payment:</label>
                <input appSelectAllText
                    class="text-center uppercase border border-neutral-900 px-2 py-1 rounded-sm mt-1" type="text"
                    name="mode_of_payment" id="mode_of_payment" [(ngModel)]="saleBill.mode_of_payment">

                <button class="mt-6 bg-[#008000] text-white font-bold p-2 rounded hover:bg-[#009000]" type="submit">
                    Save
                </button>
            </form>
        </div>

        <!-- INVOICE -->
        <div *ngIf="showInvoice" class="top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed overflow-y-auto">
            <div class="bg-white rounded-lg w-4/5 h-fit mt-8 mx-auto lg:w-1/2">
                <div id="invoice-section" class="flex flex-col justify-center p-4 w-full md:p-8">
                    <h3
                        class="self-center text-center w-1/3 rounded-2xl text-white bg-orange-600 font-bold py-1 text-base mx-auto lg:text-xl">
                        INVOICE
                    </h3>
                    <div class="flex justify-between mt-8">
                        <div class="w-1/2">
                            <h4 class="uppercase font-bold text-xl text-orange-600 lg:text-2xl">{{owner.business_name}}
                            </h4>
                            <p>{{owner.business_address}}</p>
                        </div>
                        <div class="w-2/5">
                            <h4 class="font-bold text-base text-orange-600 lg:text-lg">BILL TO</h4>
                            <p>TRN Code: {{saleBill.billno}}</p>
                            <p>Name: {{saleBill.customer_name}}</p>
                        </div>
                    </div>
                    <table class="mt-8 w-full">
                        <thead class="bg-orange-600 text-white p-2 cursor-pointer">
                            <th>DESCRIPTIONS</th>
                            <th>PRICE</th>
                            <th>QTY</th>
                            <th>TOTAL</th>
                        </thead>
                        <tbody>
                            <tr class="text-center bg-inherit border-b border-neutral-900"
                                *ngFor="let item of saleItems">
                                <td class="p-1">{{getMenuDetails(item.menu).name}}</td>
                                <td class="p-1">{{item.price | number: '1.2-2'}}</td>
                                <td class="p-1">{{item.quantity}}</td>
                                <td class="p-1">&#8369;{{item.sub_total | number: '1.2-2'}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="flex justify-between mt-6">
                        <div class="w-1/2">
                            <div class="w-4/5">
                                <p class="flex justify-between">
                                    <span>Mode of Payment:</span>
                                    <span class="uppercase">{{saleBill.mode_of_payment}}</span>
                                </p>
                                <p class="flex justify-between">
                                    <span>Date:</span>
                                    <span>{{saleBill.time | date: 'MM-dd-yyyy hh:mm a'}}</span>
                                </p>
                            </div>
                            <p class="text-sm font-bold mt-6 text-orange-600 lg:text-base">THANK YOU AND COME AGAIN!
                            </p>
                        </div>
                        <div class="w-2/5">
                            <p class="flex justify-between px-1">
                                <span>SUBTOTAL:</span>
                                <span class="font-bold">&#8369;{{saleBill.grand_total | number: '1.2-2'}}</span>
                            </p>
                            <p class="flex justify-between px-1">
                                <span>SERVICE FEE:</span>
                                <span class="font-bold">0.00</span>
                            </p>
                            <p class="flex justify-between px-1">
                                <span>TAX RATE:</span>
                                <span class="font-bold">0.00</span>
                            </p>
                            <p class="bg-orange-600 text-white font-bold flex justify-between mt-4 px-2 py-1">
                                <span>TOTAL:</span>
                                <span>&#8369;{{saleBill.grand_total | number: '1.2-2'}}</span>
                            </p>
                        </div>
                    </div>
                    <div class="flex flex-col justify-between gap-1 mt-8 text-xxs lg:text-xs sm:flex-row">
                        <div class="flex items-center space-x-1">
                            <fa-icon [icon]="faPhone"></fa-icon>
                            <span>{{owner.phone}}</span>
                        </div>
                        <div class="flex items-center  space-x-1">
                            <fa-icon [icon]="faLocationDot"></fa-icon>
                            <span>{{owner.business_address}}</span>
                        </div>
                        <div class="flex items-center space-x-1">
                            <fa-icon [icon]="faEnvelope"></fa-icon>
                            <span>{{owner.email}}</span>
                        </div>
                    </div>
                </div>
                <div class="flex justify-end space-x-1 p-2 border-t border-neutral-300">
                    <button
                        class="flex bg-blue-600 space-x-1 hover:bg-blue-700 font-bold text-white px-3 py-2 rounded-md"
                        [useExistingCss]="true" printSectionId="invoice-section" ngxPrint>
                        <fa-icon [icon]="faPrint"></fa-icon>
                        <span>Print</span>
                    </button>
                    <button class="flex bg-red-600 space-x-1 hover:bg-red-500 font-bold text-white px-3 py-2 rounded-md"
                        (click)="toggleInvoice()">
                        <fa-icon [icon]="faTimes"></fa-icon>
                        <span>Close</span>
                    </button>
                </div>
            </div>
        </div>

        <!-- ITEM MODAL: Confirm to Delete Item -->
        <div *ngIf="showItemActionModal"
            class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed">
            <div
                class="relative flex flex-col items-center bg-white rounded-lg h-fit p-4 mt-32 w-2/3 lg:w-1/4 md:w-1/3">
                <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark"
                    [ngStyle]="{color: 'rgb(64 64 64 )'}" (click)="toggleItemActionModal()">
                </fa-icon>
                <p class="mb-8 mt-6 text-center">Are you sure you want to delete this item?<br>This action cannot be
                    undone.</p>
                <button class="bg-[#ff0000] text-white" (click)="onConfirmDeleteItem()">Delete</button>
            </div>
        </div>

        <!-- BILL MODAL: Confirm to Delete Bill -->
        <div *ngIf="showBillActionModal"
            class="flex justify-center top-0 left-0 w-full h-full bg-[rgba(0,0,0,0.5)] fixed">
            <div
                class="relative flex flex-col items-center bg-white rounded-lg h-fit p-4 mt-32 w-2/3 lg:w-1/4 md:w-1/3">
                <fa-icon class="place-self-end scale-125 hover:scale-110" [icon]="faXmark"
                    [ngStyle]="{color: 'rgb(64 64 64 )'}" (click)="toggleBillActionModal()">
                </fa-icon>
                <p class="mb-8 mt-6 text-center">Are you sure you want to delete this transaction?<br>This action cannot
                    be
                    undone.</p>
                <button class="text-white bg-red-600 hover:bg-red-500"
                    (click)="onConfirmDelete()">Delete</button>
            </div>
        </div>

        <!-- MODAL: Admin Permission -->
        <app-modal *ngIf="showPermissionModal" [inputType]="'password'" [inputField]="true"
            [placeHolder]="'Enter admin password.'" (closeModal)="togglePermissionModal()"
            (valueChanged)="onValueChanged($event)" (buttonClick)="onAdminPermission()">
        </app-modal>

        <!-- MODAL: Redirect to Products Page -->
        <app-modal *ngIf="showGoToProductModal" [title]="'Proceed to the Products Page'"
            [content]="'Make sure to save all changes before leaving.'" (closeModal)="toggleGoToProductModal()"
            (buttonClick)="proceedToProducts()" [btnText]="'Proceed'">
        </app-modal>

        <!-- CSS Loader -->
        <div *ngIf="isLoading" class="top-0 left-0 w-full h-[100vh] bg-[rgba(0,0,0,0.3)] fixed">
            <app-loader></app-loader>
        </div>
    </div>
</div>